
.icon {
    width: 23px;
    height: 23px;
    color: #103B66;
}

.icon2 {
    color: #666666;
    width: 23px;
    height: 23px;

}

.visitors-number {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 42px !important;
    line-height: 61px;
    display: flex;
    align-items: center;
    color: #103B66;
}

.visitors-info {
    padding-top: 30px;
    color: #21B8F9;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-first-div {
    display: flex;
    align-content: space-between;
}

.orders {
    display: flex;
    flex-direction: column;
}

.orders-up {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.orders-up-section1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.orders-received {
    font-family: Roboto !important;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #6C7C8C;
}

.orders-quantity {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 17px !important;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #103B66;
}

.orders-up-section2{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: Noto Sans HK;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #6C7C8C;
}

.orders-down{
    padding: 10px;
    color: #21B8F9;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.config-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 22px !important;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #103B66;
}

.complete-box {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 34px !important;
    line-height: 39px;
    display: flex;
    flex-direction: column;
    color: #FFA26B;
    justify-content: flex-start;
    margin-top: 10px;
}

.config-paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 22px !important;
    display: flex;
    align-items: center;
    color: #103B66;
    /* width: 80%; */
}

.config-link {
    padding: 10px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #21B8F9;
    cursor: pointer;
}

.trust-pilot {
    background: #000032;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    border-radius: 10px;
}

.trust-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    display: flex;
    align-items: center;
    color: #ffffff
}

.trust-paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 22px !important;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.trust-link {
    padding: 20px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 20px !important;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #00C48C;
    cursor: pointer;
}

.icon-box {
    display: flex;
     align-items: center; 
     padding-top: 15px; 
     padding-left: 15px;
}

.trust-icon {
    height: 23px; 
    width: 23px;
    margin-right: 0px;
    color: #005128;
}


.invite-paragraph {
    margin: 20px 0px;
    font-family: Roboto;
    font-size: 17px !important;
    line-height: 22px !important;
    color: black;
}

.invite-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #21B8F9;
    cursor: pointer;
    margin-bottom: 10px;
}

.customer-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.customer-text {
    margin-left: 10px;
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px !important;
    line-height: 24px !important;
    display: flex;
    align-items: center;
    color: #103B66;
}

.customer-button {
    width: 130px;
    height: 40px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px !important;
    background: #21B8F9;
    outline: 0 !important;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.add-box {
    display: flex;
    padding: 10px;
    flex-direction: column;
    background: #F3A35C;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    border-radius: 10px;
}

.add-body {
width: 100%;
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.add-text-box{
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;

}

.add-paragraph {
    padding-top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 22px !important;
    line-height: 27px;
    color: #FFFFFF;
}

.add-link-box {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 0px;
}

.add-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 20px !important;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
}

.arrowForward {
    width: 25px;
    height: 20px;
    margin-left: 5px;
    color: white;
}

.add-image-div{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.phone-image {
    width: 110px;
    height: 230px;
}

.images {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.playStore {
    width: 150px;
    height: 50px;
}

.config-box{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.config-header-box {
    display: flex;
    align-items: center;
}

.config-header {
    font-family:Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 25px !important;
    display: flex;
    align-items: center;
    color: #103B66;
}

.config-add-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.exten-main {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.exten-box {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.exten-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.exten-icon {
width: 155px;
height: 155px;
background: #FFA26B;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.extension-icon {
    color: #ffffff; 
    width: 100px !important;
    height: 100px !important;
}

.exten-icon2 {
    width: 155px;
    height: 155px;
    background: #00C48C;
    border-radius: 10px;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.exten-text {
    padding-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 20px !important;
    color: #103B66 !important;
}

.extension-icon-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 34px !important;
    line-height: 39px !important;
    text-align: center;
    color: #FFFFFF;
}

.news-box {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.news-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-icon {
margin-right: 10px;
color: #103B66;
height: 23px;
}

.news-text1 {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px !important;
display: flex;
align-items: center;
color: #103B66;
}

.news-text2 {
margin-right: 10px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 17px !important;
display: flex;
align-items: center;
text-align: right;
text-decoration-line: underline;
color: #21B8F9;
cursor: pointer;
}

.news-body{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.news-image {
    object-fit: cover;
}

.image {
    height: 75px;
    width: 75px;
    border-radius: 4px;
}

.news-info {
    cursor: pointer;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3px;
}

.news-h6 {
font-family: Roboto;
font-size: 11px !important;
text-transform: uppercase;
color: #21B8F9;
}

.news-paragraph {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px !important;
color: #103B66;
}

.news-link {
font-family: Roboto;
font-style: normal;
font-weight: 300 !important;
font-size: 12 !important;
text-decoration-line: underline;
color: #103B66;
}