.main-box {
    padding: 0px 20px;
}

.spinner-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.icon {
    width: 23px;
    height: 23px;
    color: #103b66;
}

.icon2 {
    color: #666666;
    width: 23px;
    height: 23px;
}

.visitors-number {
    padding: 23px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 42px !important;
    line-height: 61px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: #103b66;
}

.card-first-div {
    display: flex;
    align-content: space-between;
}

.orders {
    display: flex;
    flex-direction: column;
}

.orders-down {
    padding: 20px 0px;
    color: #21b8f9;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.config-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 22px !important;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #103b66;
}

.complete-box {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 34px !important;
    line-height: 39px;
    display: flex;
    flex-direction: column;
    color: #ffa26b;
    justify-content: flex-start;
    margin-top: 10px;
}

.config-paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 22px !important;
    display: flex;
    align-items: center;
    color: #103b66;
    /* width: 80%; */
}

.trust-pilot {
    background: #000032;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
        0px 4px 8px rgba(50, 50, 71, 0.06);
    border-radius: 10px;
}

.trust-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.trust-paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 22px !important;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.trust-link {
    padding: 20px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 20px !important;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #00c48c;
    cursor: pointer;
}

.icon-box {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
}

.trust-icon {
    height: 35px;
    width: 35px;
    margin-right: 0px;
    color: #00b67a;
}

.invite-paragraph {
    margin: 20px 0px;
    font-family: Roboto;
    font-size: 17px !important;
    line-height: 22px !important;
    color: black;
}

.invite-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #21b8f9;
    cursor: pointer;
    margin-bottom: 10px;
}

.customer-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.customer-text {
    margin-left: 10px;
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px !important;
    line-height: 24px !important;
    display: flex;
    align-items: center;
    color: #103b66;
}

.customer-button {
    width: 130px;
    height: 40px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px !important;
    background: #21b8f9;
    outline: 0 !important;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.config-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.news-box {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.news-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-icon {
    margin-right: 10px;
    color: #103b66;
    height: 23px;
}

.news-text1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px !important;
    display: flex;
    align-items: center;
    color: #103b66;
}

.news-text2 {
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px !important;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    color: #21b8f9;
    cursor: pointer;
}

.news-body {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.news-image {
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.news-info {
    cursor: pointer;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3px;
}

.news-h6 {
    font-family: Roboto;
    font-size: 11px !important;
    text-transform: uppercase;
    color: #21b8f9;
}

.news-paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px !important;
    color: #103b66;
}

.news-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300 !important;
    font-size: 12 !important;
    text-decoration-line: underline;
    color: #103b66;
}

.card-box {
    padding: 10px;
}

.card-content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content-span1 {
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #103b66;
}

.card-content-span2 {
    margin-left: 10px;
    font-family: Roboto !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #666666;
    border: 0;
    outline: 0;
}

.card-content2 {
    display: flex;
    flex-direction: column;
}

.card-content2 h2 {
    margin-left: 10px;
    font-size: 25px;
    color: #103b66;
    font-weight: 500;
}

.select {
    outline: 0px;
    width: 150px;
    border: 0px;
    text-indent: 10px;
    font-size: 14px;
    color: #666666;
    font-family: Roboto;
}
